.HeaderContainer{
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.Image_logo{
   padding: 8px 2px;
}

.header_list{
    display: flex;
    padding: 0px 20px;
    opacity: 1;
    color: rgba(242,244,246,.9);
    list-style: none;
    box-sizing: inherit;
    margin-top: 6px;
}

.header_list li{
    display: block;
    opacity: 1;
    margin: 8px;
    padding: 0;
    width: auto;
    font-size: 17px;
    font-weight: 300;
    transition: all .2s ease-out;
    font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important;
    cursor: pointer;
}

 .searchIcon{
    border: 1px solid #8197a4;
    width: 250px;
    height: 40px;
    background-color: #0f171e;
    color: white;
    font-size: 17px;
    padding: 10px 40px;
} 

.icons
{
    position: relative;
    right: 250px;
    top:3px
}

.name{
    color: rgba(242,244,246,.7);
    display: block;
    font-size: 15px;
    line-height: 22px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 
}
