html,
body {
  padding: 0;
  margin: 0;
  background-color: #0f171e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {display:none;}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 1000%;
  padding: 5px;
}
@media (prefers-color-scheme: dark) {
  html {
    
  }
  body {
    
  }
}
