.playImage{
    width: 40px;
    height: 40px;
}


.PlayContainer{
    display: flex;
    padding: 5px 10px;
    margin: 0px 20px;
}

.Play_progress{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.play_icon_style{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.Title_style{
    color: white;
    font-size: 14px;
    margin-left: 14px;
    font-weight: 500;
}

.videoDesc_style{
    width: 100%;
    color: white;
    font-size: 14px;
    margin-left: 14px;
    margin-top: 10px;
    font-weight: 500;
    height: 60px;
    overflow: hidden;
}

.year_styles{
    color: white;
    margin-left: 14px;
    margin-top: 10px;
    display: flex;
}

.Ua{
    margin-left: 20px;
    border: 1px solid;
    padding: 0px 2px;
}