.SignOutContainer {
  color: white;
  position: absolute;
  right: 3px;
  top: 72px;
  /* width: 400px; */
  background: #252e39;
  border-top-left-radius: 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px #000;
  display: flex;
  justify-content: flex-start;
}
